/* Estilo para o menu */
.menu {
    background-color: #222; /* Cor de fundo escura */
    padding: 10px; /* Espaçamento interno */
}

.menu-item {
    color: #fff; /* Cor do texto */
    margin-right: 10px; /* Espaçamento entre os itens do menu */
}

.menu-item:hover {
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}
.logo {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
.form-control {
    max-width: 200px; 
    height: 30px; 
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}